/* Specifieke css voor spiekbriefje.html */
body {
  font-family: Calibri Light;
}
.site-header {
  height: 80px;
  position: sticky;
  top: 0;
  background-color:transparent;
  z-index: 1;
  font-family: cursive;
}

.button-big {
  background-color: rgb(213, 228, 233);
}

.footer {
  background-color: rgb(177, 203, 212);
}